{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Document</title>
    <link href="{% static 'admin/css/changelists.css' %}" rel="stylesheet">
</head>
<body>
    
{% if session %}
<h2>Welcome</h2>
<p>You can now login to our system</p>
<p><a href="{% url 'logout' %}">Logout</a></p>
<div><pre>{{pretty}}</pre></div>
{% else %}
<h2>Welcome</h2>
<p>You can now login to our system</p>
<p><a href="{% url 'login' %}">Login</a></p>
{% endif %}
</body>
</html>


